---
import Button from './ui/Button.astro';

const projects = [
  {
    title: 'Utag Marketing Agency',
    description: 'Marketing Agency Website',
    image: 'utag.png',
    link: 'https://utag.io/',
    tagline: ['HTML', 'CSS', 'Javascript'],
    repositoryUrl: '',
  },
  {
    title: 'Alamo Argentina',
    description: 'Next.js App for rent a car Company.',
    image: 'alamo.png',
    link: 'https://www.alamoargentina.com.ar/',
    tagline: ['nextJs', 'ReactJs', 'APIREST', 'HTML', 'CSS', 'Javascript'],
    repositoryUrl: '',
  },
  {
    title: 'Caviaroli',
    description: 'Shopify Site. Design and development of custom theme.',
    image: 'caviaroli.png',
    link: 'https://www.caviaroli.com/pages/nosotros',
    tagline: [
      'Figma',
      'Shopify',
      'Theme',
      'HTML',
      'CSS',
      'Javascript',
      'Ecommerce',
    ],
    repositoryUrl: '',
  },
  {
    title: 'Molinos Florencia',
    description: 'Corporate Website.',
    image: 'florencia.png',
    link: 'https://molinosflorencia.com.ar/',
    tagline: ['HTML', 'CSS', 'Javascript'],
    repositoryUrl: '',
  },
  {
    title: 'Sinteplast',
    description: 'Brand Site. Frontend and Custom PHP Backend (CMS)',
    image: 'sinteplast.png',
    link: 'https://www.sinteplast.com.ar/',
    tagline: ['PHP', 'HireroomAPI', 'HTML', 'CSS', 'Javascript'],
    repositoryUrl: '',
  },
  {
    title: 'Sancor BB3',
    description: 'Brand Wordpress Site. Custom Theme.',
    image: 'sancor.png',
    link: 'https://www.sancorbebe3.com.ar/',
    tagline: ['Wordpress', 'Theme', 'HTML', 'CSS', 'Javascript'],
    repositoryUrl: '',
  },
];
---
<section class="bg-black-900 px-4 sm:px-6 md:px-8 lg:px-10">
  <div class="w-full mx-auto max-w-screen-xl pt-10 pb-10 flex flex-col">
    <div class="flex items-end justify-between pb-10">
      <p class="text-white text-3xl font-bold pt-10">
        Take a look at my most<br /> impactful projects
      </p>
    </div>
    <div class="grid gap-8">
      {projects.map((project, index) => (
        <div class="relative group">
          <!-- Imagen del Proyecto -->
          <img
            src={`/images/portfolio/${project.image}`}
            alt={project.title}
            class="rounded-md w-full h-auto cursor-pointer"
            onclick="showOverlay(event, this)"
          />
          <!-- Overlay -->
          <div class="absolute w-[100vw] h-[50vh] -m-4 md:w-auto md:h-auto md:-m-0 z-50 inset-0 bg-black bg-opacity-80 rounded-md flex flex-col p-2 md:p-10 items-start justify-between opacity-0 pointer-events-none transition-opacity duration-300 ease-in-out">
            <!-- Botón para Cerrar -->
            <button
              class="md:hidden w-full text-white flex justify-end text-lg font-bold"
              onclick="closeOverlay(event, this)"
            >
              X
            </button>
            <div>
              <p class="text-brand text-md md:text-2xl font-bold mb-2">
                {project.title}
              </p>
              <p class="text-white text-sm md:text-md mb-4">
                {project.description}
              </p>
              <div class="flex gap-2 flex-wrap">
                {project.tagline.map((tag) => (
                  <span class="text-xs md:text-xs bg-white text-brand px-1 py-1 md:px-2 md:py-1 rounded-full">
                    {tag}
                  </span>
                ))}
              </div>
            </div>
            <div class="mt-4 self-end">
              {project.link && (
                <Button href={project.link} text="visit website" white />
              )}
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>

<script>
  function showOverlay(event: { stopPropagation: () => void; }, imgElement: { nextElementSibling: any; }) {
    event.stopPropagation();
    const overlay = imgElement.nextElementSibling; // Encuentra el overlay relacionado
    if (overlay) {
      overlay.classList.remove('opacity-0', 'pointer-events-none');
      overlay.classList.add('opacity-100', 'pointer-events-auto');
    }
  }

  function closeOverlay(event: { stopPropagation: () => void; }, buttonElement: { closest: (arg0: string) => any; }) {
    event.stopPropagation();
    const overlay = buttonElement.closest('.absolute'); // Encuentra el overlay relacionado
    if (overlay) {
      overlay.classList.remove('opacity-100', 'pointer-events-auto');
      overlay.classList.add('opacity-0', 'pointer-events-none');
    }
  }
</script>