---
import Button from './ui/Button.astro';

const projects = [
  {
    title: 'Utag Marketing Agency',
    description: 'Marketing Agency Website',
    image: 'utag.png',
    link: 'https://utag.io/',
    tagline: ['HTML', 'CSS', 'Javascript'],
    repositoryUrl: '',
  },
  {
    title: 'Alamo Argentina',
    description: 'Next.js App for rent a car Company.',
    image: 'alamo.png',
    link: 'https://www.alamoargentina.com.ar/',
    tagline: ['nextJs', 'ReactJs', 'APIREST', 'HTML', 'CSS', 'Javascript'],
    repositoryUrl: '',
  },
  {
    title: 'Caviaroli',
    description: 'Shopify Site. Design and development of custom theme.',
    image: 'caviaroli.png',
    link: 'https://www.caviaroli.com/pages/nosotros',
    tagline: [
      'Figma',
      'Shopify',
      'Theme',
      'HTML',
      'CSS',
      'Javascript',
      'Ecommerce',
    ],
    repositoryUrl: '',
  },
  {
    title: 'Molinos Florencia',
    description: 'Corporate Website.',
    image: 'florencia.png',
    link: 'https://molinosflorencia.com.ar/',
    tagline: ['HTML', 'CSS', 'Javascript'],
    repositoryUrl: '',
  },
  {
    title: 'Sinteplast',
    description: 'Brand Site. Frontend and Custom PHP Backend (CMS)',
    image: 'sinteplast.png',
    link: 'https://www.sinteplast.com.ar/',
    tagline: ['PHP', 'HireroomAPI', 'HTML', 'CSS', 'Javascript'],
    repositoryUrl: '',
  },
  {
    title: 'Sancor BB3',
    description: 'Brand Wordpress Site. Custom Theme.',
    image: 'sancor.png',
    link: 'https://www.sancorbebe3.com.ar/',
    tagline: ['Wordpress', 'Theme', 'HTML', 'CSS', 'Javascript'],
    repositoryUrl: '',
  },
];
---

<section class='bg-black-900 px-4 sm:px-6 md:px-8 lg:px-10'>
  <div class='w-full mx-auto max-w-screen-xl pt-10 pb-10 flex flex-col'>
    <div class='flex items-end justify-between pb-10'>
      <p class='text-white text-3xl font-bold pt-10'>
        Take a look at my most<br /> impactful projects
      </p>
    </div>
    <div class='grid gap-8'>
      {
        projects.map(
          (project, index) =>
            index % 2 === 0 && (
              <div
                class={`grid ${
                  index % 4 === 0
                    ? 'grid-cols-[40.5%_58.5%]'
                    : 'grid-cols-[58.5%_40.5%]'
                } gap-4`}
              >
                <div class='relative group'>
                  <img
                    src={`/images/portfolio/${project.image}`}
                    alt={project.title}
                    class='rounded-md w-full h-auto'
                    onclick=''
                  />
                  <div
                    id={`overlay${index}`}
                    class='absolute w-[100vw] h-[50vh] -m-4 md:w-auto md:h-auto md:-m-0 z-50 md:z-0 inset-0 bg-black bg-opacity-90 md:bg-opacity-80 rounded-md flex flex-col p-10 md:p-10 items-start justify-between invisible group-hover:opacity-100 transition-opacity duration-300 ease-in-out'
                  >
                    <div
                      class='                      md:hidden
                      w-full
                      text-white
                      flex
                      justify-end
                      text-lg
                      font-bold'
                    >
                      <button onclick=''>X</button>
                    </div>
                    <div>
                      <p class='text-brand text-md md:text-2xl font-bold mb-2'>
                        {project.title}
                      </p>
                      <p class='text-white text-sm md:text-md mb-4'>
                        {project.description}
                      </p>
                      <div class='flex gap-2 flex-wrap'>
                        {project.tagline?.map((tag) => (
                          <span class='text-xs md:text-xs bg-white text-brand px-1 py-1 md:px-2 md:py-1 rounded-full'>
                            {tag}
                          </span>
                        ))}
                      </div>
                    </div>

                    <div class='mt-4 self-end'>
                      <div class='mt-4 self-end'>
                        {project.link && (
                          <Button
                            href={project.link}
                            text='visit website'
                            white
                          />
                        )}
                        {project.repositoryUrl && (
                          <a
                            href={project.repositoryUrl}
                            target='_blank'
                            class='text-white underline'
                          >
                            Code
                          </a>
                        )}
                      </div>
                    </div>
                  </div>
                </div>
                {projects[index + 1] && (
                  <div class='relative group'>
                    <img
                      src={`/images/portfolio/${projects[index + 1].image}`}
                      alt={projects[index + 1].title}
                      class='rounded-md w-full h-auto'
                      onclick=''
                    />
                    <div
                      id={`overlay${index + 1}`}
                      class={`absolute w-[100vw] h-[50vh] ${index + 1 === 3 ? '-ml-[160%]' : '-ml-[82%]'} md:w-auto md:h-auto md:-m-0 z-50 md:z-0 inset-0 bg-black bg-opacity-80 rounded-lg flex flex-col p-10 items-start justify-between invisible group-hover:opacity-100 transition-opacity duration-300 ease-in-out`}
                    >
                      <div
                        class='                      md:hidden
                      w-full
                      text-white
                      flex
                      justify-end
                      text-lg
                      font-bold'
                      >
                        <button
                          class='md:hidden w-full text-white flex justify-end text-lg font-bold'
                          onclick="''"
                        >
                          X
                        </button>
                      </div>
                      <div>
                        <p class='text-brand text-md md:text-2xl font-bold mb-2'>
                          {projects[index + 1].title}
                        </p>
                        <p class='text-white text-sm md:text-md mb-4'>
                          {projects[index + 1].description}
                        </p>
                        <div class='flex gap-2 flex-wrap'>
                          {projects[index + 1].tagline?.map((tag) => (
                            <span class='text-xs bg-white text-brand font-medium px-2 py-1 rounded-full min-w-fit'>
                              {tag}
                            </span>
                          ))}
                        </div>
                      </div>
                      <div class='mt-4 self-end'>
                        <div class='mt-4 self-end'>
                          {projects[index + 1].link && (
                            <Button
                              href={projects[index + 1].link}
                              text='visit website'
                              white
                            />
                          )}
                          {projects[index + 1].repositoryUrl && (
                            <a
                              href={projects[index + 1].repositoryUrl}
                              target='_blank'
                              class='text-white underline'
                            >
                              Code
                            </a>
                          )}
                        </div>
                      </div>
                    </div>
                  </div>
                )}
              </div>
            )
        )
      }
    </div>
  </div>
</section>

<script>
  // Manejadores dinámicos de eventos
  document.addEventListener('DOMContentLoaded', () => {
    const images = document.querySelectorAll('img[onclick]');
    images.forEach((img, index) => {
      img.addEventListener('click', (event) => showOverlay(event, index));
    });

    const buttons = document.querySelectorAll('button[onclick]');
    buttons.forEach((btn, index) => {
      btn.addEventListener('click', (event) => hideOverlay(event, index));
    });
  });
  function showOverlay(event: Event, index: number) {
    event.stopPropagation();
    hideAllOverlays();
    const overlay = document.getElementById(`overlay${index}`);
    if (overlay) {
      overlay.classList.remove('invisible');
    }
  }
  function hideOverlay(event: Event, index: number) {
    event.stopPropagation();
    const overlay = document.getElementById(`overlay${index}`);
    if (overlay) {
      overlay.classList.add('invisible');
    }
  }

  function hideAllOverlays() {
    const overlays = document.querySelectorAll('[id^="overlay"]');
    overlays.forEach((overlay) => {
      overlay.classList.add('invisible');
    });
  }
</script>
