---
import { Image as ImageComp } from 'astro:assets';

export interface Props {
  text: string;
  href: string;
  style?: string;
  iconLeft?: any;
  iconRight?: any;
  invert?: boolean;
}

const {
  text = 'button',
  href,
  style = '',
  iconLeft = '',
  iconRight = '',
  invert = false,
} = Astro.props;
---

<a
  href={href}
  class={`${invert ? 'text-brand hover:text-white hover:bg-brand border-brand ' : 'text-black-900 hover:text-white hover:bg-brand border-black '} transition-all group inline-flex items-center gap-x-2  bg-transparent border focus:outline-none  focus:ring-4 focus:ring-gray-100 font-medium rounded-full text-sm px-5 py-2.5 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 ${style}`}
>
  {
    iconLeft && (
      <span class='icon-left'>
        <ImageComp
          src={iconLeft}
          alt='icon'
          inferSize={true}
          width={24}
          height={24}
          class='transition-all stroke-black group-hover:invert group-hover:brightness-0 group-hover:sepia group-hover:opacity-100'
        />
      </span>
    )
  }
  <span>{text}</span>
  {
    iconRight && (
      <span class='icon-right'>
        <ImageComp
          src={iconRight}
          alt='icon'
          inferSize={true}
          width={24}
          height={24}
          class='transition-all stroke-black group-hover:invert group-hover:brightness-0 group-hover:sepia group-hover:opacity-100'
        />
      </span>
    )
  }
</a>
