---
import { Image as ImageComp } from 'astro:assets';

export interface Props {
  text: string;
  href: string;
  target?: string;
  style?: string;
  iconLeft?: any;
  iconRight?: any;
  invert?: boolean;
  white?: boolean;
}

const {
  text = 'button',
  href,
  target = '_self',
  style = '',
  iconLeft = '',
  iconRight = '',
  invert = false,
  white = false,
} = Astro.props;
---

<a
  href={href}
  target={target}
  class={`${invert ? 'text-brand hover:text-white hover:bg-brand border-brand ' : white ? 'text-white hover:text-white hover:bg-brand border-white ' : 'text-black-900 hover:text-white hover:bg-brand border-black '} transition-all group inline-flex items-center gap-x-2  bg-transparent border focus:outline-none  font-medium rounded-full text-sm px-5 py-2.5 mb-2 ${style}`}
>
  {
    iconLeft && (
      <span class='icon-left'>
        <ImageComp
          src={iconLeft}
          alt='icon'
          inferSize={true}
          width={24}
          height={24}
          class='transition-all stroke-black group-hover:invert group-hover:brightness-0 group-hover:sepia group-hover:opacity-100'
        />
      </span>
    )
  }
  {
    text === 'View Profile' && (
      <svg
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 24 24'
        fill='none'
        stroke='currentColor'
        stroke-linecap='round'
        stroke-linejoin='round'
        width='24'
        height='24'
        stroke-width='2'
      >
        <path d='M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z' />
        <path d='M8 11l0 5' />
        <path d='M8 8l0 .01' />
        <path d='M12 16l0 -5' />
        <path d='M16 16v-3a2 2 0 0 0 -4 0' />
      </svg>
    )
  }

  <span>{text}</span>
  {
    iconRight && (
      <span class='icon-right'>
        <ImageComp
          src={iconRight}
          alt='icon'
          inferSize={true}
          width={24}
          height={24}
          class='transition-all stroke-black group-hover:invert group-hover:brightness-0 group-hover:sepia group-hover:opacity-100'
        />
      </span>
    )
  }
</a>
